body {
  font-family: 'Lato', sans-serif;
  background-color: bisque;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 3vw 22vw;
  font-size: 4vw;
  text-shadow: 0 0 3px rgb(244, 11, 11);
  border-bottom: solid 2px;
}

h2 {
  color: teal;
}

ul {
  border: solid 2px;
  width: 25vw;
  margin-top: 2vw;
  overflow-y: auto;
  border-radius: 1vw;
  max-height: 55vh;
}

ul:hover {
  box-shadow: rgba(3, 102, 214, 0.3) 0 0 0 2px;
  border: solid 2px rgb(135, 131, 131);
}

li {
  list-style: none;
  padding: 0.5vw;
}

li:nth-child(even) {
  background-color: rgb(225, 225, 225);
}

li:hover {
  border-bottom: solid 2px teal;
  background-color: bisque;
}

#score-h {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 0.5vw 1vw;
  border-radius: 4px;
  box-shadow: rgba(119, 117, 117, 0.66) 0 1px 4px;
  background-color: #fff;
  cursor: pointer;
}

form button {
  width: fit-content;
  align-self: end;
}

button:hover {
  border: solid 2px rgb(238, 102, 102);
  color: teal;
}

button:active {
  border: solid 2px rgb(184, 92, 92);
  background-color: bisque;
}

main {
  display: flex;
  gap: 10%;
  max-width: 50%;
  margin: auto;
  background-color: #fff;
  padding: 2vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  max-height: 73vh;
  border-radius: 1vw;
}

form {
  display: flex;
  gap: 2vw;
  flex-direction: column;
  margin-top: 2vw;
}

input {
  padding: 0.5vw;
  border: solid 2px;
  border-radius: 0.5vw;
  width: 100%;
}

input:focus {
  transform: scaleY(1.15);
  border: solid 2px teal;
  outline: none;
}

.animate {
  animation: scale 1s ease-in-out infinite alternate;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.15);
  }
}

@media screen and (max-width: 600px) {
  main {
    max-width: 90%;
  }
}
