body {
  font-family: 'Lato', sans-serif;
  background-color: bisque;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 3vw 22vw;
  font-size: 4vw;
  text-shadow: 0 0 3px rgb(244, 11, 11);
  border-bottom: solid 2px;

}

ul {
  border: solid 2px;
  width: 25vw;
  margin-top: 2vw;
  overflow-y: auto;
  border-radius: 1vw;
 
}

li {
  list-style: none;
  padding: 0.5vw;
}

li:nth-child(even) {
  background-color: rgb(225, 225, 225);
}

#score-h {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 0.5vw 1vw;
  border-radius: 4px;
  box-shadow: rgba(119, 117, 117, 0.66) 0 1px 4px;
  background-color: #fff;
 
}

main {
  display: flex;
  gap: 10%;
  max-width: 50%;
  margin: auto;
  background-color: #fff;
  padding: 2vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-height: 90vh;
}

form {
  display: flex;
  gap: 2vw;
  flex-direction: column;
  margin-top: 2vw;
}

form button {
  width: fit-content;
  align-self: end;
}

input {
  padding: 0.5vw;
  border: solid 2px;
}
